* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    color: #e4e1cf;
    z-index: -10;
    overflow-x: hidden;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 5rem);
}

h2 {
    font-size: clamp(.5rem, 1rem, 3rem);
}

p, li , a {
    font-size: clamp(.5rem, 1.25vw, 1.5rem);
}

@font-face {
    font-family: "Patua One";
    src: url("assets/Patua_One/PatuaOne-Regular.ttf") format('truetype');
}

.navbar {
    /* background-color: #382902; */
    background-color: #f29921;
    max-width: 100vw;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container img {
    width: min(20px,50px);
    margin-left: min(10px, 60px);
    transform: scale(max(1.4, 1.1)); 
}

.nav-info {
    display: flex;
    align-items: center;
    margin-right: min(5px,30px);
}

.nav-info li {
    display: block;
    list-style-type: none;
    margin-inline-start: min(2vw, 2rem);
    margin-inline-end: min(2vw, 2rem);
}

.nav-info a {
    color: inherit;
    text-decoration: none;
}

.nav-info a:hover {
    transition: .15s;
    color: white;
    filter: brightness(200%);
}

.header {
    display: flex;
    margin-bottom: 20px;
}

.header-info {
    margin-left: min(.5rem, 3rem);
}

.header-info h1 {
    font-family: "Patua One";
    color: #f29921;
}

.underline {
    display: block;
    width: 100%;
    margin-top: -12px;
    background-color: #e4e1cf;
    border: 2px solid;
    border-radius: 5px;
}

.h-line {
    line-height: 300%;
    font-weight: 600;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: min(10px,20px);
}

.header-logo img {
    width: max(40%, 50%);
    border: clamp(2px, 5px, 10px) groove #404040;
    background-color: #f29921;
}

.guild-info {
    height: clamp(50vh,80vh,85vh);
    background-image: url("assets/Bridgewatch.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    position: relative;
    transition: all .5s;
}

.sidebar1, .sidebar2 {
    width: 50%;
    min-height: 100%;
    display: inline-block;
    background-color: black;
    opacity: 0;
    padding-left: min(10px,35px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s;
}

.sidebar1:hover {
    opacity: .8;
}

.trans1 {
    transform: translateX(-100%);
}

.sidebar1 h2, .sidebar2 h2 {
    opacity: 1.5;
    color: #f29921;
}

.sidebar1 p, .sidebar2 li {
    line-height: 140%;
    opacity: 1.5;
}

.sidebar2 {
    right: 0;
    flex-direction: column;
}

.sidebar2:hover {
    opacity: .8;
}

.trans2 {
    transform: translateX(100%);
}

.trans2 h2 {
    padding-left: 25px;
}

.sidebar1:hover .trans1, .sidebar2:hover .trans2 {
    transform: translateX(0);
    transition: .5s .15s;
}

.requirement {
    height: min(40vh, 80vh);
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.req-container {
    height: 70%;
    width: min(60vw,80vw);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid silver;
    box-shadow: 2px 2px 1px silver;
}

.req-container ol {
    padding: 0;
}

#contact {
    height: min(5vh, 10vh);
    background-color: #f29921;
    display: flex;
    align-items: center;
}

#contact img {
    width: min(25px, 50px);
}

.whatsapp {
    display: flex;
    align-items: center;
    padding-left: min(2%,5%);
}

.whatsapp a {
    color: #252525;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .sidebar1, .sidebar2 {
        opacity: .7;
    }

    .trans1, .trans2 {
        transform: translateX(0);
    }

    .guild-info {
        height: min(30vh,50vh);
    }
}

/* @media only screen and (max-width: 768px){
    :root {
        font-size: 8px;
    }

    
    #myModal {
        display: none;
    }

    .navbar {
        width: 100%;
    }

    .nav-info {
        margin-right: 10px;
    }

    .nav-info li {
        margin: 0 5px 0 5px;
    }
    
    .img-container img {
        width: 20px;
        margin-left: 5px;
    }
    
    .header-logo img {
        width: 50%;
        margin-top: 60%;
    }
    
    .header-info {
        margin-left: 5px;
    }

    .sidebar1, .sidebar2 {
        display: flex;
        opacity: .7;
        padding: 0 0 0 10px;
    }

    .trans1 {
        margin-top: 6%;
    }

    .trans1, .trans2 {
        transform: translateX(0);
    }

    .requirement {
        height: 70vh;
    }

    #contact {
        height: 7vh;
    }

    #contact img {
        width: 35px;
    }
} */